.container {
    display: flex;
    flex-wrap: wrap;
}

div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

.button-holder {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.hovered {
    background-color: gray;
}